{% extends "admin/layout/layoutAuth.twig" %}

{% block resHead %}
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/bootstrap.min.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/bootstrap-responsive.min.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/matrix-login.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/font-awesome/css/font-awesome.css' }}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
{% endblock resHead %}

{% block body %}
	<div id="loginbox">
		<form id="loginform" class="form-vertical" action="{{ WEBROOT ~ 'admin' }}" method="post">
				<div class="control-group">
					<div class="controls">
						<div class="main_input_box">
							<span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="email" placeholder="Email" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<div class="main_input_box">
							<span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="mdp" placeholder="Mot de passe" />
						</div>
					</div>
					</div>
				<div class="form-actions">
					<span class="pull-right"><button type="submit" class="btn btn-success" > Connexion</button></span>
				</div>
		</form>
	</div>
{% endblock body %}

{% block resFoot %}
	<script src="{{ WEBROOT ~ 'Web/public/admin/js/jquery.min.js' }}"></script>
	<script src="{{ WEBROOT ~ 'Web/public/admin/js/matrix.login.js' }}"></script>
{% endblock resFoot %}

