{% extends "admin/layout/layoutSpace.twig" %}

{% block title %}
    Contenu
{% endblock title %}

{% block resHead %}
    {% include "admin/inc/res-head-content.twig" %}
{% endblock resHead %}

{% block container %}
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
	         <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
	           <h5>Vos sections</h5>
	         </div>
	         <div class="widget-content nopadding">
				<table class="table table-bordered data-table">
					<thead>
			            <tr>
			            	<th>Version</th>
			              	<th>Page</th>
			              	<th>Section</th>
			              	<th>Valeur</th>
			            </tr>
			        </thead>
		          	<tbody>
                        {% for value in param.contentPage %}
                            {% if value._valid == '1' %}
                                <tr>
                                    <td>{{ value._id }}</td>
                                    <td>{{ value._idPage | capitalize }}</td>
                                    <td>{{ value._idBlock | capitalize }}</td>
                                    <td>{{ value._content | raw}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
		          	</tbody>
	           </table>
	     	</div>
	   	</div>
           
        {% for value in param.contentPage %}
            <div style="visibility: hidden;display: none;" id="{{ value._id }}">{{ value._content | raw}}</div>
        {% endfor %}
	   	
	   	<div class="widget-box">
			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
				<h5>Modifier une section</h5>
			</div>
		      <div class="widget-content">
				<form method="post" action="{{ WEBROOT ~ 'admin/content/update' }}" class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Section à modifier</label>
						<div class="controls">
							<select required id="section" name="section">
                                <option value="">Page : section</option>
                                
                                {% for value in param.contentPage %}
                                    <option value="{{ value._id }}">{{ value._idPage | capitalize ~ ' : ' ~ value._idBlock | capitalize }}</option>
                                {% endfor %}
							</select>
						</div>
					</div>
					<div id="test">
				        <div class="controls content">
				           	<textarea name="content" class="textarea_editor span11" rows="25" placeholder="Votre texte..."></textarea>
				        </div>
			        </div>
		            
		            <input type="submit" class="btn btn-success" value="Modifier">
		   		</form>
        	</div>
		</div>
	</div>
</div>

<div class="widget-box">
	<div class="widget-title"> <span class="icon"> <i class="icon-save"></i> </span>
		<h5>Réstaurer une section</h5>
	</div>
	<div class="widget-content">
		<form method="post" action="{{ WEBROOT ~ 'admin/content/restore' }}" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">Section à réstaurer</label>
				<div class="controls">
					<select required id="restoreSection" name="section">
                        <option value="">Version - Page : Section</option>
                        {% for value in param.contentPage %}
                            {% if value._valid == '0' %}
                                <option value="{{ value._id }}">{{ value._id ~ ' - ' ~ value._idPage | capitalize ~ ' : ' ~ value._idBlock | capitalize }}</option>
                            {% endif %}	
                        {% endfor %}
                    					
	
					</select>
				</div>
			</div>
			
			<input type="submit" class="btn btn-warning" value="Réstaurer">
		</form>
		
		<div class="widget-box">
			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
				<h5>Contenu de la section</h5>
			</div>
			<div id="contentRestore" class="widget-content">
				
			</div>
		</div>
	</div>
</div>
{% endblock container %}

{% block resFooter %}
    {% include "admin/inc/res-content.twig" %}
    {% include "admin/inc/active-foor.twig" %}
{% endblock resFooter %}