
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/bootstrap.min.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/bootstrap-responsive.min.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/fullcalendar.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/matrix-style.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/matrix-media.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/select2.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/uniform.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/font-awesome/css/font-awesome.css' }}" />
	<link rel="stylesheet" href="{{ WEBROOT ~ 'Web/public/admin/css/jquery.gritter.css' }}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
	
	{% block resHead %}
	
	{% endblock %}
</head>
<body>

	<!--Header-part-->
	<div id="header">
	  <h1><a href="dashboard.html">Matrix Admin</a></h1>
	  	
	</div>
	<!--close-Header-part--> 
	
	
	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav" style="width: auto; margin: 0px;">
    		<li><a href="#" style="font-size: 110%;font-weight: bold;"><i class="icon icon-phone"></i> SAV: 06.41.82.54.12</a></li>
  		</ul>
	</div>
	<!--close-top-Header-menu-->
	<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Accueil</a>

	  <ul>
	  	<li><a href="{{ WEBROOT ~ 'admin/dashboard' }}"><i class="icon icon-home"></i> <span>Accueil</span></a> </li>
	    <li><a href="{{ WEBROOT ~ 'admin/newsletter' }}"><i class="icon icon-envelope-alt"></i> <span>Newsletters</span></a> </li>
	    <li><a href="{{ WEBROOT ~ 'admin/statistic' }}"><i class="icon icon-bar-chart"></i> <span>Statistiques</span></a> </li>
	    <li><a href="{{ WEBROOT ~ 'admin/content' }}"><i class="icon icon-align-left"></i> <span>Contenu</span></a> </li>
	    <li><a href="{{ WEBROOT ~ 'admin/install' }}"><i class="icon icon-cogs"></i> <span>Installation</span></a> </li>
	    
	    <!--<li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>
	      <ul>
	        <li><a href="form-common.html">Basic Form</a></li>
	        <li><a href="form-validation.html">Form with Validation</a></li>
	        <li><a href="form-wizard.html">Form with Wizard</a></li>
	      </ul>
	    </li>-->
	    
	  </ul>
	</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> {% block title %}{% endblock %}</a></div>
    </div>
	
	<div class="container-fluid">
        {% block container %}
            
        {% endblock container %}
	</div>
</div>

<div class="row-fluid">
  <div id="footer" class="span12"> 2020 &copy; <a href="https://www.newwebsouth.fr">NewWebSouth</a> </div>
</div>

    {% block resFooter %}
        
    {% endblock resFooter %}
</body>
</html>
